button {
  padding: 12px 32px;
  background-color: var(--color-primary-2);
  border-radius: var(--boreder-radius-md);
  border: 1px solid var(--color-secondary-4);
  font-weight: 900;
}

button.secondary {
  padding: 12px 32px;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary-4);
  border-radius: var(--boreder-radius-md);
  color: var(--color-secondary-4);
  font-weight: 900;
  margin-top: 24px;
}


button.secondary.small {
  padding: 8px 28px;
}

button:hover {
  cursor: pointer;
  filter: brightness(0.85);
  transition: filter .2s ease-in;
}
