.main-header nav {
  height: 100%;
  align-content: center;
}

.main-header nav ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-header nav a {
  font-family: 'Markazi Text';
  color: var(--color-primary-1);
  font-size: 20px;
  text-decoration: none;
}

.main-header nav a:hover {
  text-decoration: underline;
  transition: text-decoration .2s ease-in;
}
